<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxy.mapper.ClazzMapper">

    <select id="list" resultType="com.lxy.pojo.Clazz">
        select * from clazz
        <where>
            <if test="name != null and name != ''">
                name like concat('%',#{name},'%')
            </if>
        </where>
        order by update_time desc
    </select>

    <select id="getById" resultType="com.lxy.pojo.Clazz">
        select * from clazz where id = #{id}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into clazz(name, subject, begin_date, end_date, create_time, update_time)
        values (#{name}, #{subject}, #{beginDate}, #{endDate}, #{createTime}, #{updateTime})
    </insert>

    <update id="update">
        update clazz
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="subject != null and subject != ''">subject = #{subject},</if>
            <if test="beginDate != null">begin_date = #{beginDate},</if>
            <if test="endDate != null">end_date = #{endDate},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteByIds">
        delete from clazz where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

</mapper>
