<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxy.mapper.EmpLogMapper">

    <select id="list" resultType="com.lxy.pojo.EmpLog">
        select * from emp_log
        <where>
            <if test="begin != null and end != null">
                operate_time between #{begin} and #{end}
            </if>
        </where>
        order by operate_time desc
    </select>

</mapper>
